html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 60%, #E4E9FD 40%); 
    /*very simple way of creating a gradient and spcifying the degree of gradient and adding the percentage of different colors*/
    /*linear gradient at 65deg*/
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }

  /*it will look all the items inside a div and it will target the last child item */
                                    /* each item has a border */
  .item:last-child {
    border-bottom: 0;               /* =>last item(targets the last item)=>border=0 as it is last and to separate with others */
  }

/* It will look for a input that is in a checked state */
/* +p => targeting all the paragraph elements that come after checked inputs*/
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  

  /*input of type checkbox (having the attribute checkbox)*/
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }

/* pseudo selector=> placeholder: it simply targets our placeholder in our form(input) */
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  